@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alchemy API</h1>
    <p class="lead">Please standby, development in progress</p>
</div>

<div class="row">
    @Html.ActionLink("Reagents", "Index", "Reagent") <br />
    @Html.ActionLink("Reactions", "Index", "Reaction")
</div>